#logo {
    height: 100px;
}

    #logo img {
        height: 90%;
    }

#redes {
    height: 100px;
}

    #redes i {
        font-size: 2.5rem;
    }

.oquefazemos h4 {
    margin-top: 10%;
}

.oquefazemos img {
    width: 5rem;
}

.dicas {
    background-color: #f8f9fa;
    padding: 2%;
}

.rodape {
    font-size: 0.8em;
    font-style: italic;
}

.patrocinio {
    height: 100px;
}

    .patrocinio img {
        height: 100px;
    }

.foto_mini {
    width: 80px;
    border: solid 1px #ccc;
    margin-top: 5px;
    padding: 2px;
}

.foto_receita {
    width: 100%;
    border: solid 1px #ccc;
    margin-top: 5px;
    padding: 2px;
}




    /* ######## INÍCIO DO MEDIA QUERY ######## */

    @media screen and (max-width: 576px) {

        #logo {
            height: 60px ;
        }

        #logo img {
            height: 80%;
        }


        #redes {
            height: 60px;
    
        }
        #redes i {
            font-size: 1.3rem;
        }
    
#contato {
    height: 60px;
    font-size: 0.8em;
}

        
    }
    /* FIM DO MEDIA QUERY */
